<!-- views/index.erb -->
<% if session[:error] %>
  <div class="flash error">
    <p><%= session.delete(:error) %></p>
  </div>
<% end %>

<ul>
  <% @files.each do |file|%>
    <li>
       <a href="<%=file%>"> <%=file%> </a> 
    </li>
  <% end %>
</ul>