<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/cms.css" rel="stylesheet" type="text/css" />
    <title>File-based CMS Project</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>